@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* body {
    background-color: #c6ba4e;
} */

img {
    display: block;
    max-width: 100%;
}